# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual Environment
.venv/
venv/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Pyright
.pyright/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite (nếu sau này dùng để test)
*.db
*.sqlite3